<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule Success</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<h1>Schedule Added Succesfully!</h1>

<a class="button" th:href="@{'/web/theater/' + ${scheduleToCreate.theaterId}}">Back to Theater</a>
<!--
<a th:href="@{'/web/movie/' + ${movie.id}}">Back to Movie</a>
<table>
     <thead>
     <tr>
         <th>ID</th>
         <th>Text</th>
         <th>Date</th>
         <th>Movie ID</th>
     </tr>
     </thead>
     <tr>
         <td th:text="${commentToCreate.id}"></td>
         <td th:text="${commentToCreate.text}"></td>
         <td th:text="${commentToCreate.date}"></td>
         <td th:text="${commentToCreate.movieId}"></td>
     </tr>
 </table> -->
<br/>
<div class="center">
    <img src="/images/bat-line.gif" alt="bat line">
</div>
</body>
</html>