<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Theater</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<a class="button" href="/web/theaters">Back to all theaters</a>
<div id="homeContainer">
    <img src="/images/greenweb.gif" alt="green web">
    <h1>Theater</h1>
    <img src="/images/anibat2.gif" alt="flying bat">
</div>

<span th:if="${theater==null}">Theater not found</span>
<span th:unless="${theater==null}">
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Geo</th>
            <th>Theater Id</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${theater.id}"></td>
            <td th:text="${theater.getLocation().address}"></td>
            <td th:text="${theater.getLocation().geo}"></td>
            <td th:text="${theater.theaterId}"></td>
        </tr>
    </table>
</div>

<h2>Schedule</h2>
<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Movie Title</th>
                    <th>Theater ID</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
                </tr>
            </thead>
            <tr th:each="scheduleVM : ${scheduleVMs}">
                <td th:text="${scheduleVM.schedule.id}"></td>
                <td th:text="${scheduleVM.schedule.date}"></td>
                <td>
                    <a th:href="@{'/web/movie/' + ${scheduleVM.movie.id}}">
                        <th:block th:text="${scheduleVM.movie.title}"></th:block>
                    </a>
                </td>
                <td th:text="${scheduleVM.schedule.theaterId}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/web/schedule/delete/{id}(id=${scheduleVM.schedule.id})}">Delete</a></td>
            </tr>
        </table>
    </div>
        <br/>
        <div class="center" sec:authorize="hasRole('ROLE_ADMIN')">
            <button id="toggleButton" class="button" style="margin-bottom: 25px">Toggle Schedule Form</button>
            <form id="displayForm" th:action="@{'/web/theater/createSchedule/' + ${theater.id}}" th:object="${scheduleToCreate}" method="post">

                <input type="hidden" id="theaterId" name="id" th:field="*{theaterId}"/>

                <label for="date">Date</label>
                <input type="text" id="date" name="id" th:field="*{date}"/><br/>

                <label for="movieId">Movie Id</label>
                <input type="text" id="movieId" name="id" th:field="*{movieId}"/>

                <input class="inputSubmit" style="margin: 10px auto 10px" type="submit" value="Create"/>
            </form>
        </div>
</div>

<h2>Movie Details</h2>
<div class="center">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Full Plot</th>
                <th>Genres</th>
                <th>Rating</th>
                <th>Year</th>
            </tr>
        </thead>
            <tr>
                <tr th:each="scheduleVM : ${scheduleVMs}">
                <td>
                    <a th:href="@{'/web/movie/' + ${scheduleVM.movie.id}}">
                        <th:block th:text="${scheduleVM.movie.title}"></th:block>
                    </a>
                </td>
                <td th:text="${scheduleVM.movie.fullplot}"></td>
                <td th:text="${scheduleVM.movie.genres}"></td>
                <td th:text="${scheduleVM.movie.rated}"></td>
                <td th:text="${scheduleVM.movie.year}"></td>
            </tr>
    </table>
</div>
</span>
<br/>
<div class="center">
    <img src="/images/bat-line.gif" alt="bat line">
</div>
<script>
    const toggleButton = document.getElementById('toggleButton');
    const myForm = document.getElementById('displayForm');

    toggleButton.addEventListener('click', function () {
        if (myForm.style.display === 'none') {
            myForm.style.display = 'table'; // Show the table
        } else {
            myForm.style.display = 'none'; // Hide the table
        }
    });
</script>
</body>

</html>