<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<style>
    .shadow {
        width: 300px;
        height: 100px;
        padding: 15px;
        background-color: coral;
        box-shadow: 10px 10px 5px lightblue;
    }
</style>
<body>
<div class="center">
<img  src="/images/HalloweenlightsBar.gif" alt="skeleton lights gif">
</div>
<div id="homeContainer">
    <img  src="/images/trick_skeleton.gif" alt="skeleton gif">
    <h1>Welcome <span sec:authorize="hasRole('ROLE_ADMIN')">Admin </span>To JSON VOORHEES!!</h1>
    <img  src="/images/trick_skeleton.gif" alt="skeleton gif">
</div>
<div class="center" >
    <a class="homeButton" href="movies">Click for all movies</a>
    <br/>
    <a class="homeButton" href="theaters">Click for all theaters</a>
    <br/>
    <a sec:authorize="hasRole('ROLE_ADMIN')" class="homeButton" href="users">Click for all users</a>

    <img src="/images/friday13th.jpg" alt="friday13thposter">
    <br/>
    <h2>Updated 4/12/23 22:13</h2>

</div>

</body>
</html>
